# This file is indented using tabs, unlike most of my files.
# This is because git uses tabs it writes config options.
# vim: filetype=gitconfig

[gpg]
	format = ssh
[user]
	name = Rylan Polster
	email = rylan.polster@yale.edu
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEv9hLutqMpiqxxz96dn5V3NqB/Fqp3O8silaK9TUjC2
